[Desktop Entry]
Type=Application
Name=Kütral
Comment=Centro multimedia: películas, series, anime e IPTV
Exec=kutral
Icon=app.kutral.Kutral
Terminal=false
Categories=AudioVideo;Video;Player;
StartupWMClass=Kütral
